body {
  display:block;
}

header {
  padding: 2rem $gutter;
  grid-template-columns: 60px auto auto;
  h1 {
    font-size: 2rem;
    padding-top: 0.6rem;
  }
}

#hamburgerBtn {
  display:none;
}
#primaryNav{display:flex;}

nav {
  height:auto;
  border-bottom: 2px solid gray;
  margin:0;
  li a {
    border:none;
    transition:background 0.3s linear;
    &:hover {
      background-color:#cccccc;
    }
  }
}

