$primaryColor: black;
$secondaryColor: rgb(250, 250, 250);
$accentColor:rgb(232, 0, 93);
$overlayFont:"Share Tech Mono", serif;
$fontColor: #333;
$headerFont:"Roboto", sans-serif;
$defaultFont:"Roboto", sans-serif;
$lightWeight:400;
$normalWeight:500;
$boldWeight:600;
$gutter: 16px;